$brand-colour1: #0f5256;
$brand-colour2: #51c0af;
$brand-colour3: #b6d443;
$brand-colour4: #e0e462;
$brand-colour5: #edefed;

$background-light-grey: #e1e1e1;

$border-medium-grey: #c8c8c8;
$border-light-grey: #e1e1e1;

$shadow-grey: #C1C1C1;

$warning-red: red;

$font-standard: #343434;
$font-light: #878787;
$font-extra-light: #B5B5B5;