.container {
  height: 100vh;
  display: flex;  
  box-sizing: border-box;
  width: 100%;
}

.sidebarContainer {
  flex: 0 0 240px;
  padding: 80px 8px 8px 8px;
  background: #f1f1f1;
}

.contentContainer {
  flex: 1 1 100%;
  padding: 80px 8px 8px 8px;
}